[project]
	description = File system auto completion for Sublime Text 3
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/HashBang (HashBang173)
[access "refs/for/refs/*"]
	read = group user/HashBang (HashBang173)
	push = group user/HashBang (HashBang173)
	label-Code-Review = -2..+2 group user/HashBang (HashBang173)
	label-Verified = -1..+1 group user/HashBang (HashBang173)
	rebase = group user/HashBang (HashBang173)
	removeReviewer = group user/HashBang (HashBang173)
	submit = group user/HashBang (HashBang173)
[access "refs/heads/*"]
	read = group user/HashBang (HashBang173)
	create = group user/HashBang (HashBang173)
	push = +force group user/HashBang (HashBang173)
	pushMerge = group user/HashBang (HashBang173)
[access "refs/tags/*"]
	push = +force group user/HashBang (HashBang173)
	pushTag = group user/HashBang (HashBang173)
	pushSignedTag = group user/HashBang (HashBang173)
